@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
$font: 'Lato', sans-serif;

$white: #fffcf9;
$light: #f3e7e9;
$font: #003049;
$primary: #f77f00;
$secondary: #fcbf49;
$box: #eae2b7;

html,
body {
  margin: 0;
  padding: 0;
  height: 90vh;
  width: 100vw;
  background: $white;
  font-family: $font, sans-serif;
}

.ant-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1rem;
  margin: 2rem;
}
.ant {
  border-radius: 4px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  background: #ca7c4e;
  flex: 1;
  background: -webkit-linear-gradient(
    bottom left,
    $secondary 0%,
    $primary 100%
  );
  background: -moz-linear-gradient(bottom left, $secondary 0%, $primary 100%);
  background: -o-linear-gradient(bottom left, $secondary 0%, $primary 100%);
  background: linear-gradient(to top right, $secondary 0%, $primary 100%);
  color: $font;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float: left;
  width: 8.5rem;
  height: 20rem;
  text-align: center;
  @media (min-width: 1600px) {
    height: 90vh;
  }
}
.image {
  position: relative;
  width: 2rem;
  height: 2rem;
  margin: 1rem auto 0 auto;
  right: 6rem;
  flex: 1;
  @media (min-width: 1600px) {
    width: 20%;
  }
}

svg {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  flex: 1;
}

.circle-2 {
  position: absolute;
  left: -0.75rem;
  top: -7px;
  width: 3rem;
  height: 3rem;
  border-width: 1px;
  border-style: solid;
  border-color: $font transparent $font $font;
  border-radius: 50%;
  transition: all 1.5s ease-in-out;
  @media (min-width: 1600px) {
    width: 6rem;
    height: 6rem;
  }
  &:hover {
    cursor: pointer;
    transform: rotate(360deg);
  }
}

.circle-1 {
  // @extend .circle-1;
  position: absolute;
  left: -0.75rem;
  top: -7px;
  width: 3.1rem;
  height: 3.1rem;
  border-width: 1px;
  border-style: solid;
  border-color: $font $font $font transparent;
  border-radius: 50%;
  transition: all 1.5s ease-in-out;
  @media (min-width: 1600px) {
    width: 6.1rem;
    height: 6.1rem;
  }
  &:hover {
    transform: rotate(-360deg);
  }
}

#name {
  font-size: 0.5rem;
  color: $font;
  text-transform: uppercase;
  font-weight: 600;
  height: 12rem;
  writing-mode: vertical-lr;
  text-orientation: upright;
  text-align: left;
  margin-top: 3rem;
  flex: 1;
  @media (min-width: 1600px) {
    font-size: 2rem;
    height: 80vh;
    margin-top: 8rem;
  }
}

#color {
  font-size: 0.675rem;
  line-height: 1rem;
}

.btn-wrapper {
  top: 0.6rem;
  position: absolute;
  left: 2.75rem;
  @media (min-width: 1600px) {
    left: 2rem;
    top: 53.6rem;
  }
}

.btn {
  display: block;
  width: 4rem;
  height: 1.175rem;
  margin: 0 auto 10px auto;
  background: $white;
  border: 1px solid $font;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 600;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  color: $font;
  @media (min-width: 1600px) {
    width: 8rem;
    height: 2rem;
  }
  &:hover {
    cursor: pointer;
    background: $box;
    color: $primary;
  }
}

#get-all {
  width: 5rem;
  color: $white;
  background-color: $primary;
  @media (min-width: 1600px) {
    width: 8rem;
    height: 2rem;
  }
  &:hover {
    background-color: $box;
    color: $primary;
  }
}

#stats-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 13.75rem;
  right: 0.25rem;
  float: right;
  border-radius: 8px;
  border: 4px solid $white;
  @media (min-width: 1600px) {
    bottom: 57rem;
  }
}
.stats {
  float: left;
}

.box {
  box-sizing: border-box;
  width: 120px;
  height: 99px;
  background: $white;
  text-align: center;
  padding-top: 28px;
  transition: all 0.4s ease-in-out;
  @media (min-width: 1600px) {
    height: 12.5rem;
  }
  &:hover {
    background: $box;
    cursor: pointer;
    color: $primary;
  }

  &:nth-child(2) {
    margin: 1px 0;
  }
}

span {
  display: block;
}

.value {
  font-size: 0.5rem;
  font-weight: 600;
  @media (min-width: 1600px) {
    font-size: 1rem;
  }
}

.parameter {
  font-size: 11px;
  @media (min-width: 1600px) {
    font-size: 0.75rem;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.15rem;
}

.loading {
  display: flex;
  flex-direction: row;
}

.loading__letter {
  font-size: 0.5rem;
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  animation-name: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  font-weight: bold;
  color: #d62828;
  @media (min-width: 1600px) {
    font-size: 1rem;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  40% {
    transform: translateY(-40px);
  }
  80%,
  100% {
    transform: translateY(0px);
  }
}

.loading__letter:nth-child(2) {
  animation-delay: 0.1s;
}
.loading__letter:nth-child(3) {
  animation-delay: 0.2s;
}
.loading__letter:nth-child(4) {
  animation-delay: 0.3s;
}
.loading__letter:nth-child(5) {
  animation-delay: 0.4s;
}
.loading__letter:nth-child(6) {
  animation-delay: 0.5s;
}
.loading__letter:nth-child(7) {
  animation-delay: 0.6s;
}
.loading__letter:nth-child(8) {
  animation-delay: 0.8s;
}
.loading__letter:nth-child(9) {
  animation-delay: 1s;
}
.loading__letter:nth-child(10) {
  animation-delay: 1.2s;
}

#ants {
  margin: 0 auto;
  animation-name: race;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  top: 50rem;
}

@keyframes race {
  0% {
    transform: translateX(-50px);
  }
  40% {
    transform: translateX(-300px);
  }
  80%,
  100% {
    transform: translateX(-400px);
  }
}

.error {
  width: 15rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 37%;
  color: $font;
  border-radius: 8px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  background-color: $box;
}

#error-container {
  margin-top: 5rem;
}
